<div>
    <span class="icon">
        {%- if include.item.icon -%}<i class="{{ include.item.icon }}" title="{{ include.item.name }}"></i>{%- endif -%}
        {%- if include.item.image -%}<img src="{{ include.item.image | relative_url }}" alt=">{{ include.item.name }}" />{%- endif -%}
    </span>
    {%- if include.item.name -%}<h4>{{ include.item.name }}</h4>{%- endif -%}
    {%- if include.item.year -%}<p class="year">{{ include.item.year }}</p>{%- endif -%}
    {%- if include.item.location -%}<p class="location">{{ include.item.location }}</p>{%- endif -%}
    {%- if include.item.description -%}<p class="description">{{ include.item.description }}</p>{%- endif -%}
</div>
